USE [master]
GO
/****** Object:  Database [registroDatos]    Script Date: 08/07/2023 10:38:17 p. m. ******/
CREATE DATABASE [registroDatos]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [registroDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [registroDatos]
GO
/****** Object:  Table [dbo].[area]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [char](10) NOT NULL,
	[valor] [varchar](140) NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK_area] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operacion] [varchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[descripcionEvento] [varchar](100) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contrasena]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contrasena](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contrasena] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entradasSalidas]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entradasSalidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[tipoFlujo] [varchar](50) NOT NULL,
	[recursos] [varchar](200) NOT NULL,
	[emisiones] [varchar](200) NULL,
	[valor] [varchar](100) NOT NULL,
	[unidad] [varchar](50) NOT NULL,
	[tratamientoDato] [varchar](150) NOT NULL,
	[adquisicionDato] [varchar](50) NOT NULL,
	[citasReferencia] [varchar](100) NULL,
	[cometario] [varchar](150) NULL,
	[nombreFlujo] [varchar](200) NOT NULL,
 CONSTRAINT [PK_entradasSalidas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](10) NOT NULL,
	[valor] [varchar](140) NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingresoDatos]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingresoDatos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[producto] [varchar](100) NOT NULL,
	[tecnologia] [varchar](100) NOT NULL,
	[otro] [varchar](100) NOT NULL,
	[NombreProceso] [varchar](200) NOT NULL,
	[tipoProceso] [varchar](50) NULL,
	[autor] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[nombreFlujoR] [varchar](300) NOT NULL,
	[unidad] [varchar](50) NOT NULL,
	[valorR] [varchar](100) NOT NULL,
	[objetivo] [varchar](500) NULL,
	[limitesSistema] [varchar](50) NULL,
	[imagen] [image] NULL,
	[tipoTecnologia] [varchar](100) NOT NULL,
	[condicionesOperacion] [varchar](500) NULL,
	[fechaReferencia] [date] NOT NULL,
	[datosValidos] [date] NOT NULL,
	[descripcion] [varchar](300) NULL,
	[id_estado] [int] NOT NULL,
	[id_area] [int] NOT NULL,
	[latitud] [varchar](100) NOT NULL,
	[longitud] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ingresoDatos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cargo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 08/07/2023 10:38:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellidoP] [varchar](50) NOT NULL,
	[apellidoM] [varchar](50) NULL,
	[id_perfil] [int] NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[id_contrasena] [int] NOT NULL,
	[sesion] [tinyint] NULL,
	[estatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[area] ON 

INSERT [dbo].[area] ([id], [clave], [valor], [id_estado]) VALUES (1, N'AGU       ', N'Aguascalientes', 1)
INSERT [dbo].[area] ([id], [clave], [valor], [id_estado]) VALUES (2, N'TIJ       ', N'Tijuana', 2)
INSERT [dbo].[area] ([id], [clave], [valor], [id_estado]) VALUES (3, N'MEL       ', N'Mexicali', 2)
GO
SET IDENTITY_INSERT [dbo].[area] OFF
GO
SET IDENTITY_INSERT [dbo].[contrasena] ON 

INSERT [dbo].[contrasena] ([id], [contrasena]) VALUES (1, N'8C6976E5B5410415BDE908BD4DEE15DFB167A9C873FC4BB8A81F6F2AB448A918')
SET IDENTITY_INSERT [dbo].[contrasena] OFF
GO
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([id], [clave], [valor]) VALUES (1, N'AGU', N'Aguascalientes')
INSERT [dbo].[estado] ([id], [clave], [valor]) VALUES (2, N'BCN', N'Baja California')
INSERT [dbo].[estado] ([id], [clave], [valor]) VALUES (3, N'BCS', N'Baja California Sur')
SET IDENTITY_INSERT [dbo].[estado] OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([id], [cargo]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([id], [cargo]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [apellidoP], [apellidoM], [id_perfil], [correo], [telefono], [usuario], [id_contrasena], [sesion], [estatus]) VALUES (1, N'Admin', N'admin', N'admin', 1, N'admin@gmail.com', N'0000000000', N'admin', 1, 0, N'Activo')
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[area]  WITH CHECK ADD  CONSTRAINT [FK_area_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[estado] ([id])
GO
ALTER TABLE [dbo].[area] CHECK CONSTRAINT [FK_area_estado]
GO
ALTER TABLE [dbo].[entradasSalidas]  WITH CHECK ADD  CONSTRAINT [FK_entradasSalidas_ingresoDatos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[ingresoDatos] ([id])
GO
ALTER TABLE [dbo].[entradasSalidas] CHECK CONSTRAINT [FK_entradasSalidas_ingresoDatos]
GO
ALTER TABLE [dbo].[ingresoDatos]  WITH CHECK ADD  CONSTRAINT [FK_ingresoDatos_area] FOREIGN KEY([id_area])
REFERENCES [dbo].[area] ([id])
GO
ALTER TABLE [dbo].[ingresoDatos] CHECK CONSTRAINT [FK_ingresoDatos_area]
GO
ALTER TABLE [dbo].[ingresoDatos]  WITH CHECK ADD  CONSTRAINT [FK_ingresoDatos_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[estado] ([id])
GO
ALTER TABLE [dbo].[ingresoDatos] CHECK CONSTRAINT [FK_ingresoDatos_estado]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [fk_contrasena] FOREIGN KEY([id_contrasena])
REFERENCES [dbo].[contrasena] ([id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [fk_contrasena]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [fk_perfil] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[perfil] ([id])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [fk_perfil]
GO
/****** Object:  StoredProcedure [dbo].[cargarComboProducto]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[cargarComboProducto]

as
begin
select id, producto from ingresoDatos

end
GO
/****** Object:  StoredProcedure [dbo].[editarDatosFormulario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[editarDatosFormulario]
(@ID INT,
    @NombreProceso Varchar(200),
@TipoProceso Varchar(50)= null,
@Autor Varchar(50),
@Correo Varchar(50),
@NombreFlujoR Varchar(300),
@Unidad Varchar(50),
@ValorR Varchar(100),
@Objetivo Varchar(500)= null,
@LimiteSistema Varchar(50)= null,
@Imagen image = null,
@TipoTecnologia varchar(100),
@CondicionesOperacion varchar(500)= null,
@FechaReferencia date,
@DatosValidos date,
@Descripcion varchar(300)= null,
@Estado INT, 
@Area INT,
@Latitud float,
@Longitud float
)
AS
BEGIN
  
    UPDATE ingresoDatos
    SET NombreProceso = @NombreProceso,
	    tipoProceso = @TipoProceso,
        autor = @Autor,
         correo = @Correo,
		   nombreFlujoR = @NombreFlujoR
		   ,unidad = @Unidad
		   ,valorR = @ValorR
		   ,objetivo = @Objetivo
		   ,limitesSistema = @LimiteSistema
		   ,imagen = @Imagen
		   ,tipoTecnologia = @TipoTecnologia
		   ,condicionesOperacion = @CondicionesOperacion
		   ,fechaReferencia = @FechaReferencia
		   ,datosValidos = @DatosValidos
		   ,descripcion = @Descripcion
		   ,id_estado = @Estado
		   ,id_area = @Area
		   ,latitud = @Latitud
		   ,longitud = @Longitud
    WHERE id = @ID;

END;
GO
/****** Object:  StoredProcedure [dbo].[editarEntradasSalidas]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[editarEntradasSalidas]
(@ID INT,
@NombreFlujo Varchar(200),
@TipoFlujo Varchar(50),
@Recursos Varchar(200),
@Emisiones Varchar(200) = null,
@Valor Varchar(100),
@Unidad Varchar(50),
@TratamientoDato Varchar(150),
@Adquisicion Varchar(50),
@Citas Varchar(100) = null,
@Comentario Varchar(150)= null
)
AS
BEGIN
    UPDATE entradasSalidas
    SET nombreFlujo = @NombreFlujo,
	    tipoFlujo = @TipoFlujo,
        recursos = @Recursos,
         emisiones = @Emisiones,
		   valor = @Valor
		   ,unidad = @Unidad
		   ,tratamientoDato = @TratamientoDato
		   ,adquisicionDato = @Adquisicion
		   ,citasReferencia = @Citas
		   ,cometario = @Comentario
    WHERE id = @ID;

END;
GO
/****** Object:  StoredProcedure [dbo].[editarUsuario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[editarUsuario]
(
    @ID INT,
    @Nombre VARCHAR(50),
    @ApellidoP VARCHAR(50),
    @ApellidoM VARCHAR(50)= null,
    @Perfil INT,
    @CorreoElectronico VARCHAR(50),
    @Telefono VARCHAR(50),
    @Usuario VARCHAR(50),
	@Estatus VARCHAR(20),
    @Contraseña VARCHAR(200) = NULL
)
AS
BEGIN
    -- Actualizar la tabla 'usuario'
    UPDATE usuario
    SET nombre = @Nombre,
        apellidoP = @ApellidoP,
        apellidoM = @ApellidoM,
        id_perfil = @Perfil,
        correo = @CorreoElectronico,
        telefono = @Telefono,
        usuario = @Usuario,
		estatus = @Estatus
    WHERE id = @ID;

    -- Verificar si se debe actualizar la contraseña
    IF @Contraseña IS NOT NULL
    BEGIN
        -- Actualizar la tabla 'contrasena'
        UPDATE contrasena
        SET contrasena = @Contraseña
        WHERE id = (SELECT id_contrasena FROM usuario WHERE id = @ID);
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[eliminarDatosF]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarDatosF]
(
    @Id int
) 
AS
BEGIN
    -- Verificar si existen registros relacionados en la tabla entradasSalidas
    IF EXISTS (SELECT 1 FROM entradasSalidas WHERE id_producto = @Id)
    BEGIN
        -- Registro relacionado encontrado, devolver valor indicando que no se puede eliminar
        SELECT 0
        RETURN
    END

    -- No existen registros relacionados, eliminar el registro de la tabla ingresoDatos
    DELETE FROM ingresoDatos WHERE id = @Id;
    SELECT 1 -- Valor indicando que se eliminó correctamente
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarDatosFormulario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[eliminarDatosFormulario]
(@Id int
 ) 
as
BEGIN            
	delete from ingresoDatos
    where id = @Id;
end
GO
/****** Object:  StoredProcedure [dbo].[eliminarEntradasSalidas]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[eliminarEntradasSalidas]
(@Id int
 ) 
as
BEGIN            
	delete from entradasSalidas
    where id = @Id;
end
GO
/****** Object:  StoredProcedure [dbo].[EliminarRegistroYEntradas]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarRegistroYEntradas]
    @ID int
AS
BEGIN
  SET NOCOUNT ON;

    -- Eliminar registros relacionados en la tabla entradasSalidas
    DELETE FROM dbo.entradasSalidas
    WHERE id_producto = @ID;

    -- Eliminar el registro en la tabla ingresoDatos
    DELETE FROM dbo.ingresoDatos
    WHERE id = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarUsuario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[eliminarUsuario]
(@Id int
 ) 
as
BEGIN            
	update   usuario
	set
			 estatus = 'Inactivo'
	where
	id = @Id;
end

GO
/****** Object:  StoredProcedure [dbo].[insertarDatosFormulario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertarDatosFormulario]
(@Producto Varchar(100),
@Tecnologia Varchar(100),
@Otro Varchar(100),
@NombreProceso Varchar(200),
@TipoProceso Varchar(50) = null,
@Autor Varchar(50),
@Correo Varchar(50),
@NombreFlujoR Varchar(300),
@Unidad Varchar(50),
@ValorR Varchar(100),
@Objetivo Varchar(500)= null,
@LimiteSistema Varchar(50)= null,
@Imagen image = null,
@TipoTecnologia varchar(100),
@CondicionesOperacion varchar(500) = null,
@FechaReferencia date,
@DatosValidos date,
@Descripcion varchar(300) = null,
@Estado INT, 
@Area INT,
@Latitud float,
@Longitud float
) 
as
BEGIN

INSERT INTO ingresoDatos
           (producto
           ,tecnologia
           ,otro
		   ,NombreProceso
           ,tipoProceso
		   ,autor
		   ,correo
		   ,nombreFlujoR
		   ,unidad
		   ,valorR
		   ,objetivo
		   ,limitesSistema
		   ,imagen
		   ,tipoTecnologia
		   ,condicionesOperacion
		   ,fechaReferencia
		   ,datosValidos
		   ,descripcion
		   ,id_estado
		   ,id_area
		   ,latitud
		   ,longitud)
     VALUES
           (@Producto ,
			@Tecnologia,
			@Otro ,
			@NombreProceso,
			@TipoProceso,
			@Autor ,
			@Correo ,
			@NombreFlujoR ,
			@Unidad ,
			@ValorR ,
			@Objetivo ,
			@LimiteSistema ,
			@Imagen ,
			@TipoTecnologia ,
			@CondicionesOperacion ,
			@FechaReferencia ,
			@DatosValidos ,
			@Descripcion,
			@Estado ,
			@Area ,
			@Latitud,
			@Longitud )
		   end
GO
/****** Object:  StoredProcedure [dbo].[insertarEntradasSalidas]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[insertarEntradasSalidas]
(@Producto int,
@NombreFlujo Varchar(200),
@TipoFlujo Varchar(50),
@Recursos Varchar(200),
@Emisiones Varchar(200) = null,
@Valor Varchar(100),
@Unidad Varchar(50),
@TratamientoDato Varchar(150),
@Adquisicion Varchar(50),
@Citas Varchar(100) = null,
@Comentario Varchar(150)= null

) 
as
BEGIN

INSERT INTO entradasSalidas
           (id_producto
           ,nombreFlujo
           ,tipoFlujo
		   ,recursos
           ,emisiones
		   ,valor
		   ,unidad
		   ,tratamientoDato
		   ,adquisicionDato
		   ,citasReferencia
		   ,cometario
		   )
     VALUES
           (@Producto, 
			@NombreFlujo, 
			@TipoFlujo, 
			@Recursos ,
			@Emisiones, 
			@Valor, 
			@Unidad, 
			@TratamientoDato, 
			@Adquisicion, 
			@Citas, 
			@Comentario 
			)
		   end
GO
/****** Object:  StoredProcedure [dbo].[insertarUsuario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertarUsuario]
(@Nombre Varchar(50),
@ApellidoP Varchar(50),
@ApellidoM Varchar(50) = null,
@Perfil int,
@CorreoElectronico Varchar(50),
@Telefono Varchar(50),
@Usuario Varchar(50),
@Contraseña Varchar(200)
) 
as
BEGIN

INSERT INTO contrasena (contrasena) values (@Contraseña)
declare @idContraseña as int
set @idContraseña = (select max(id) from contrasena)

INSERT INTO usuario
           (nombre
           ,apellidoP
           ,apellidoM
		   ,id_perfil
           ,correo
		   ,telefono
		   ,usuario
		   ,id_contrasena
		   ,sesion
		   ,estatus)
     VALUES
           (@Nombre,
          @ApellidoP,
		  @ApellidoM,
		  @Perfil,
		  @CorreoElectronico,
		  @Telefono,
		  @Usuario,
		  @idContraseña,
		  0,
		  'Activo');
		   end
GO
/****** Object:  StoredProcedure [dbo].[insertBitacora]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertBitacora]
(@Operacion Varchar(50),
@Fecha datetime,
@DescripcionEvento Varchar(100),
@Usuario Varchar(50)
) 
as
BEGIN

INSERT INTO bitacora
           (operacion
           ,fecha
           ,descripcionEvento
		   ,usuario
		   )
     VALUES
           (@Operacion, 
			@Fecha, 
			@DescripcionEvento, 
			@Usuario
			)
		   end
GO
/****** Object:  StoredProcedure [dbo].[llenarArea]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[llenarArea]
@id int 
as
begin
select d.id, d.valor from area as d
inner join estado as e on (d.id_estado = e.id)
where @id = e.id;
end
GO
/****** Object:  StoredProcedure [dbo].[llenarEstado]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[llenarEstado]
as
begin
select id, valor from estado;
end
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[login]
(
    @Usuario varchar(50),
    @Contrasena varchar(200)
)
AS
BEGIN
    SELECT
        a.usuario,
        b.cargo,
        a.id
    FROM
        usuario as a
        INNER JOIN perfil as b ON (a.id_perfil = b.id)
        INNER JOIN contrasena as c ON (a.id_contrasena = c.id)
    WHERE
        a.usuario = @Usuario
        AND c.contrasena = @Contrasena
       AND a.estatus = 'Activo' -- Agregar la condición para verificar el estatus sea igual a 1

    UPDATE sus
    SET sesion = 1
    FROM
        usuario as sus
        INNER JOIN perfil as b ON (sus.id_perfil = b.id)
        INNER JOIN contrasena as c ON (sus.id_contrasena = c.id)
    WHERE
        sus.usuario = @Usuario
        AND c.contrasena = @Contrasena
         AND sus.estatus = 'Activo' -- Agregar la condición para verificar el estatus sea igual a 1
END
GO
/****** Object:  StoredProcedure [dbo].[logout]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[logout]
(@Usuario tinyint)
as
begin
--declare @us

update sus set sesion = 0 	
		from usuario as sus
		where id=@Usuario
		end
GO
/****** Object:  StoredProcedure [dbo].[seleccionarDatosBitacora]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[seleccionarDatosBitacora]
as
select operacion, fecha, descripcionEvento, usuario
		from bitacora;
GO
/****** Object:  StoredProcedure [dbo].[seleccionarDatosFormulario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[seleccionarDatosFormulario]
AS
BEGIN
    SELECT  a.id,
            CONCAT(a.producto, ', ', a.tecnologia, ', ', a.otro) AS producto_tecnologia,
            a.producto,
            a.tecnologia,
            a.otro,
            a.NombreProceso,
            a.tipoProceso,
            a.autor,
            a.correo,
            a.nombreFlujoR,
            a.unidad,
            a.valorR,
            a.objetivo,
            a.limitesSistema,
			a.imagen,
            a.tipoTecnologia,
            a.condicionesOperacion,
            a.fechaReferencia,
            a.datosValidos,
            a.descripcion,
            b.valor,
            c.valor,
            CONCAT(a.latitud, ', ', a.longitud) AS representacionGeografica,
			a.latitud,
			a.longitud
    FROM ingresoDatos AS a
    JOIN estado AS b ON a.id_estado = b.id
    JOIN area AS c ON a.id_area = c.id;
END
GO
/****** Object:  StoredProcedure [dbo].[seleccionarDatosUsuario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[seleccionarDatosUsuario]
as
select	a.id,
		CONCAT(a.nombre, ' ', a.apellidoP, ' ', a.apellidoM) Nombre_completo,
		a.nombre,
		a.apellidoP,
		a.apellidoM,
		b.cargo,
		a.correo,
		a.telefono,
		a.usuario,
		a.estatus
		from usuario as a join perfil as b on(a.id_perfil = b.id);
GO
/****** Object:  StoredProcedure [dbo].[seleccionarEntradasSalidas]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[seleccionarEntradasSalidas]
AS
BEGIN
    SELECT  a.id,
			b.id AS ingresoDatos,
            CONCAT(b.producto, ', ', b.tecnologia, ', ', b.otro) AS producto_tecnologia,
            b.producto,
            b.tecnologia,
            b.otro,
            a.nombreFlujo
           ,a.tipoFlujo
		   ,a.recursos
           ,a.emisiones
		   ,a.valor
		   ,a.unidad
		   ,a.tratamientoDato
		   ,a.adquisicionDato
		   ,a.citasReferencia
		   ,a.cometario
    FROM entradasSalidas AS a
    JOIN ingresoDatos AS b ON a.id_producto = b.id
 
END
GO
/****** Object:  StoredProcedure [dbo].[validaUsuario]    Script Date: 08/07/2023 10:38:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[validaUsuario]
as
select id,
		usuario
		from usuario;
GO
USE [master]
GO
